body {
	font-family: 'Share Tech Mono', monospace;
	font-size: 20px;
	letter-spacing: 0.05rem;
	color: #aaa;
	background-color: #1d2f3a;
}

a {
	color: #F1A9A0;
	text-decoration: none;
	font-weight: normal;
}

a:hover, a:focus {
	font-weight: bold;
}

#question {
	color: #F4B350;
}

.radio-item {
	padding: 2em;
}

.radio-item label:hover, .radio-item label:focus{
	color: #E8E8E8;
}

.radio-item input:checked + label {
	color: #E8E8E8;
	font-weight: bold;
}