body {
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	font-weight: 100;
	color: #fff;
	text-align: center;
	overflow: auto;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height: 100%;
	min-width: 225px;
background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);	background-repeat: no-repeat;
	background-attachment: fixed;
}
a {
	text-decoration: none;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

a:hover, a:active {
/*	color: #451C57;
*/}

h1 {
	line-height: 1.8em;
	border-bottom: 0.01em solid #451C57;
	padding: 0.5em;
	margin:0;
	background-color: rgba(0, 0, 0, 0.35);
}
.quiz-box {
	overflow: auto;
	text-align: center;
	padding: 0em 1em 4em 1em;
	margin: 0 auto;
}

.question {
	font-weight: 700;
	padding: 1em;
	margin: auto;
}

.answer-list {
]	list-style-type: none;
	padding: 2em 0 2em 0;
	margin: auto;
}

.answer {
}

/*Hide check boxes*/
input[type=radio]{
	display: none;
	z-index: -1;
	opacity: 0;
}

input[type=radio]+label{
	display: inline-block;
	width:80%;
	text-align: left;
	padding: 1em;
	transition: all 0.2s;
/*	box-shadow: 0px 24px 3px -24px black;
*/}

input[type=radio]+label:hover{
	background-color: rgba(0, 0, 0, 0.35)
}


input[type=radio]:checked+label{
	background-color: #451C57;
}

.button {
	font-size: 1em;
	letter-spacing: 0.2em;
	color: #fff;
	text-transform: uppercase;
	padding: 1em 2em;
	margin:0;
	background-color: rgba(0,0,0,0.5);
	/*width: 5em;
	height:5em;*/
	border:0;
/*	border-radius: 50%;
*/	transition: all 0.3s ease-in-out;
	transform: all 0.3s ease-in-out;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button:hover {
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transform: translateZ(1.025);
}


@media (min-width: 800px) {
	input[type=radio]+label{
		max-width: 800px;
	}
}