body {
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	font-weight: 100;
	color: #fff;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	min-width: 225px;
	height: 100vh;
	background-color: #5f72bd;
	background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);	background-repeat: no-repeat;
	background-size: 100vw, 100vh;
/*	background-attachment: fixed;
*/}
a {
	text-decoration: none;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

a:hover, a:active {
/*	color: #451C57;
*/}

h1 {
	line-height: 1.8em;
	border-bottom: 0.01rem solid #451C57;
	padding: 0.5rem;
	margin:0;
	background-color: rgba(0, 0, 0, 0.25);
}
.quiz-box {
	overflow: auto;
	text-align: center;
	padding: 0rem 1rem 4rem 1rem;
	margin: 0 auto;
}

.quiz-form {
	overflow: auto;
}

.question {
	font-weight: 700;
	padding: 1rem;
	margin: auto;
}

.answer-list {
	list-style-type: none;
	padding: 2rem 0 2rem 0;
	margin: auto;
}

.answer {
}

.youranswer{
	font-style: italic;
	color: rgba(0, 0, 0, 0.50);
}

/*Hide check boxes*/
input[type=radio]{
	display: none;
	z-index: -1;
	opacity: 0;
}

input[type=radio]+label{
	display: inline-block;
	width:80%;
	text-align: left;
	padding: 1rem;
	transition: all 0.2s;
/*	box-shadow: 0px 24px 3px -24px black;
*/}

input[type=radio]+label:hover{
	background-color: rgba(0, 0, 0, 0.25)
}


input[type=radio]:checked+label{
	background-color: rgba(0, 0, 0, 0.35);
}

input[disabled]+label{
	pointer-events: none;
}

.button {
	font-size: 1em;
	letter-spacing: 0.2em;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 2rem;
	margin:0;
	background-color: rgba(0,0,0,0.40);
	/*width: 5rem;
	height:5rem;*/
	border:0;
/*	border-radius: 50%;
*/	transition: all 0.3s ease-in-out;
	transform: all 0.3s ease-in-out;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button:hover {
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transform: translateZ(1.025);
}

.disabled {
	background-color: rgba(0,0,0,0.1);
	opacity: .2;
}

.question-counter {
	font-style: italic;
	color: rgba(0, 0, 0, 0.50);
	padding: 1em;
}

.pop-up {
	display: none;
	width: 30%;
	padding: 4em;
	margin: auto;
	background-color: black;
	transition: all 0.5s ease;
	white-space: pre-line;
}

/*.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}*/

.enabled {
	display: block;
}

/*@media (min-width: 768px) {
	input[type=radio]+label{
		max-width: 768px;
	}
}*/

/*@media (max-width: 600px) {
	body {
		font-size: 1rem;
	}
}*/